<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        <%-include("./partials/navBar")%>
        <%if(!user){%>
            <div class="btns">
                <a href="/sign-up" class="nav-item">sign up</a>
                <a href="/log-in" class="nav-item">log in</a>
            </div>
            Hi,create profile
        </div>
        <%}else{%>
            <div class="profile">
                <div class="info">
                    
                    <div class="username"><%=user.username%></div>
                    <div class="email"><%=user.email%></div>
                    <div class="role"><%=user.role%></div>
                </div>
                <div class="img">
                    <img src="/profile.jpg" alt="">
                    <a href="/log-out" class="log-out">logout</a>
                </div>
        </div>
        <%}%>
    </div>
    <div class="container">
        <h1 class="tag-line">welocome <%if(!user){%>
        <%}else{%>
            <%=user.username%>
        <%}%></h1>
         <div class="rules">
        <h3>roles :</h3>
        <div class="viewer">
            <h4>viewr :</h4>
            <p>viewer only read the messages.</p>
        </div>
        <div class="user">
            <h4>user :</h4>
            <p>user have access to add message and read the messages.</p>
        </div>
    </div>
    </div>
</body>
</html>