<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%-include("./partials/navBar")%>
        <%if(!user){%>
            <div class="btns">
                <a href="/sign-up" class="nav-item">sign up</a>
                <a href="/log-in" class="nav-item">log in</a>
            </div>
            Hi,create profile
        </div>
        <%}else{%>
            <div class="profile">
            <img src="" alt="">
            <div class="username"><%=user.username%></div>
            <div class="email"><%=user.email%></div>
            <div class="role"><%=user.role%></div>
            <a href="/log-out">logout</a>
        </div>
        <%}%>
    </div>
    <h1>messages</h1>
<% if(user.role == "admin"){ %>
   
    <% message.forEach((msg) => { %>
        <div class="card">
            <h1><%=msg.username%></h1>
            <h3><%=msg.role%></h3>
            <p><%=msg.message%></p>
            <div class="links">
                <a href="/user/messages/delete/<%=msg.id%>">delete</a>
            </div>
        </div>
    <% }) %>
    
<% } else { %>
     <% message.forEach((msg) => { %>
        <div class="card">
            <h1><%=msg.username%></h1>
            <h3><%=msg.role%></h3>
            <p><%=msg.message%></p>
        </div>
    <% }) %>
<% } %>

</body>
</html>