<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        <%-include("./partials/navBar")%>
        <%if(!user){%>
            <div class="btns">
                <a href="/sign-up" class="nav-item">sign up</a>
                <a href="/log-in" class="nav-item">log in</a>
            </div>
            Hi,create profile
        </div>
        <%}else{%>
            <div class="profile">
                <div class="info">
                    
                    <div class="username"><%=user.username%></div>
                    <div class="email"><%=user.email%></div>
                    <div class="role"><%=user.role%></div>
                </div>
                <div class="img">
                    <img src="/profile.jpg" alt="">
                    <a href="/log-out" class="log-out">logout</a>
                </div>
        </div>
        <%}%>
    </div>
    <!-- basic header available in all the pages. -->

    <h1 class="head">sign up form</h1>
   
    <form action="/sign-up" method="post">
        <div>
            <label for="username">username :</label>
            <input type="text" required name="username">
        </div>
        <div>
            <label for="email">email :</label>
            <input type="email" required name="email">
        </div>
        <div>
            <label for="password">password :</label>
            <input type="password" required name="password" minlength="6">
        </div>
        <div>
            <label for="">select any one role :</label>
            <select name="role" required id="">
                <option value="user">user</option>
                <option value="viewer">viewer</option>
            </select>
        </div>
        <button type="submit">sign up</button>
    </form>
    <%if(error){%>
        <%error.forEach((e)=>{%>
            <h1><%=e.msg%></h1>
        <%})%>
    <%}%>
</body>
</html>